@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Gilmer Medium';
	src: url('./assets/fonts/gilmer-medium.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: 'Gilmer Regular';
	src: url('./assets/fonts/gilmer-regular.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: 'Gilmer Light';
	src: url('./assets/fonts/gilmer-light.woff2') format('woff2');
	font-style: normal;
}

@layer base {
	:root {
		--color-blue: 243, 58%, 21%;
		--color-green: 168, 53%, 52%;
		--color-light-green: 68, 53%, 52%, 0.16;
		--color-white: 0, 0%, 100%;
	}

	/* :root[data-theme='dark'] {} */



	/* ------------------*/
	/* General CSS Reset */
	/*-------------------*/
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}


	/* -------------------------- */
	/* Making basic style resets */
	/* ------------------------- */
	html {
		font-size: 62.5%;
		scroll-behavior: smooth;
	}


	input:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	img {
		width: 100%;
		max-inline-size: 100%;
		max-width: unset;
	}

	button {
		outline: transparent;
	}

	body {
		font-size: 1.6rem;
		font-weight: 400;
		font-family: 'Gilmer Regular', sans-serif;
	}

	body,
	main {
		min-height: 100vh;
	}

}